.growth_rate {
  float: left;
  margin: 12px 8px 0 0;
  line-height: 46px;
  .green {
    color: #00FF00;
  }
  .red {
    color: #FF0000;
  }
}
.export {
  margin-top: 12px;
}
.hight-chart {
  clear: both;
  .rate {
    width: 900px;
  }
}
.rates-list {
  clear: both;
}
